.callout[data-callout="quote"] .callout-title-inner {
    font-family: "Instrument Serif";
    font-size: 1.45em;
    font-style: italic;
}

.callout[data-callout="note-toolbar"] {
    background: var(--background-primary) !important;
}

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

* :has(.transparent) {
    background: transparent !important;
}

.code, .markdown-rendered pre, blockquote, .callout {
    border-radius: 1.0rem !important;
}
.cm-s-obsidian .HyperMD-codeblock-begin-bg {
    border-radius: 1.0rem 1.0rem 0 0!important;
}
.cm-s-obsidian .HyperMD-codeblock-end-bg {
    border-radius: 0 0 1.0rem 1.0rem!important;
}
:root{
    --tbg-dark-opacity: 80% !important;
}